<a href="https://colab.research.google.com/github/reza74rsa/Cellectors/blob/main/Glioma_prognosis_prediction_using_genomics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Preprocessing

##Libraries importing

In [ ]:
import requests
import gzip
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

##Data loading

Featuews : GDC TCGA Lower Grade Glioma (LGG) - DNA methylation

In [ ]:
url = "https://gdc-hub.s3.us-east-1.amazonaws.com/download/TCGA-LGG.methylation450.tsv.gz"
r = requests.get(url)
open("data.tsv.gz", "wb").write(r.content)

1757668269

In [ ]:
with gzip.open('data.tsv.gz', 'rb') as f:
    df = pd.read_csv(f, sep='\t', header=0)

In [ ]:
# with gzip.open('data.tsv.gz', 'rb') as f:
#     data = pd.read_csv(f, sep='\t', header=0,  iterator=True)
#     df = data.get_chunk(1000).T
#     i = 0
#     while True:
#       try:
#         temp_df = data.get_chunk(1000).T
#         df = pd.concat([temp_df, df], axis=1)
#         i += 1
#       except:
#         print(i)
#         break
#     # df = pd.concat(data)

In [ ]:
# op = open("data.tsv","w") 

# with gzip.open('data.tsv.gz',"rb") as f:
#     op.write(f.read().decode("utf-8"))

# op.close()

In [ ]:
# data = pd.read_csv("data.tsv", sep='\t', header=0, chunksize=10000)
  
# for i,j in enumerate(data):
#   # if i == 0:
#   #   df = j.T
#   # else:
#   #   df = pd.concat([j.T, df], axis=1)
#   break

In [ ]:
# data = pd.read_csv("data.tsv", sep='\t', header=0,  iterator=True)
# df = data.get_chunk(10000).T
# i = 0
# while True:
#   try:
#     temp_df = data.get_chunk(10000).T
#     df = pd.concat([temp_df, df], axis=1)
#     i += 1
#   except:
#       print(i)
#       break

Labels : GDC TCGA Lower Grade Glioma (LGG) - phenotype - survival data

In [ ]:
url = "https://gdc-hub.s3.us-east-1.amazonaws.com/download/TCGA-LGG.survival.tsv"
r = requests.get(url)
open("dsurvival.tsv", "wb").write(r.content)

19327

In [ ]:
labels = pd.read_csv("dsurvival.tsv", sep='\t', header=0)

In [ ]:
labels

               sample  OS      _PATIENT  OS.time
0    TCGA-HT-7472-01A   0  TCGA-HT-7472        1
1    TCGA-HT-A5R9-01A   0  TCGA-HT-A5R9        2
2    TCGA-HT-8015-01B   0  TCGA-HT-8015        3
3    TCGA-HT-7467-01A   0  TCGA-HT-7467        3
4    TCGA-HT-A74O-01A   0  TCGA-HT-A74O        3
..                ...  ..           ...      ...
528  TCGA-S9-A7R1-01A   1  TCGA-S9-A7R1     5166
529  TCGA-HT-7483-01A   0  TCGA-HT-7483     5255
530  TCGA-DU-5870-02A   0  TCGA-DU-5870     5546
531  TCGA-DU-5870-01A   0  TCGA-DU-5870     5546
532  TCGA-DU-6392-01A   0  TCGA-DU-6392     6423

[533 rows x 4 columns]

In [ ]:
#Select patient id and os.time among labels
labels = labels.iloc[:, [0,3]]

In [ ]:
# Remove NAN identifiers
df=df.dropna().reset_index(drop=True)

In [ ]:
df

,Composite Element REF,TCGA-S9-A6WQ-01A,TCGA-DB-A64V-01A,TCGA-DU-8162-01A,TCGA-HT-7858-01A,TCGA-HT-8019-01A,TCGA-TM-A84C-01A,TCGA-S9-A6WO-01A,TCGA-TM-A84M-01A,TCGA-TQ-A7RQ-01A,...,TCGA-HT-A5RC-01A,TCGA-HT-A616-01A,TCGA-FG-5963-02A,TCGA-HT-7477-01B,TCGA-DB-5273-01A,TCGA-VV-A829-01A,TCGA-DU-7018-01A,TCGA-FG-6692-01A,TCGA-TQ-A7RJ-01A,TCGA-DH-A7UU-01A
0,cg00000029,0.850163,0.794375,0.627703,0.885086,0.545273,0.868165,0.860534,0.882899,0.885700,...,0.840901,0.840275,0.120893,0.856048,0.786290,0.842415,0.912122,0.701483,0.738342,0.870277
1,cg00000165,0.182303,0.235612,0.231927,0.136708,0.162496,0.098264,0.101520,0.842956,0.225748,...,0.396442,0.486888,0.287997,0.572660,0.094496,0.348242,0.533776,0.843038,0.164344,0.213311
2,cg00000236,0.919964,0.918428,0.896700,0.929134,0.904493,0.855905,0.941359,0.884972,0.880838,...,0.900246,0.921954,0.891859,0.903516,0.936794,0.894105,0.886266,0.895180,0.865581,0.927024
3,cg00000289,0.741190,0.807882,0.741549,0.721685,0.687615,0.720627,0.788087,0.771278,0.735567,...,0.589977,0.761367,0.603824,0.650224,0.816928,0.546522,0.768586,0.712351,0.463871,0.746269
4,cg00000292,0.821800,0.764669,0.613204,0.825479,0.665609,0.330482,0.892027,0.862808,0.830660,...,0.763409,0.829496,0.298932,0.729474,0.897340,0.524332,0.838501,0.694548,0.894163,0.868375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370049,rs9363764,0.935951,0.948834,0.945391,0.933186,0.940522,0.592808,0.555798,0.940578,0.606940,...,0.540285,0.943484,0.550724,0.042953,0.555945,0.950435,0.966993,0.521638,0.477783,0.522890
370050,rs939290,0.538661,0.521277,0.033897,0.536383,0.508837,0.966462,0.966590,0.519297,0.031025,...,0.027705,0.519545,0.505388,0.648112,0.967527,0.210701,0.496869,0.520505,0.489203,0.027019
370051,rs951295,0.967512,0.038067,0.066347,0.543269,0.527952,0.532709,0.035318,0.038075,0.542278,...,0.525321,0.951973,0.477593,0.956304,0.028372,0.032413,0.037614,0.820736,0.571735,0.967474
370052,rs966367,0.479492,0.467710,0.923915,0.034852,0.947704,0.477638,0.408081,0.507434,0.933765,...,0.460741,0.513231,0.029169,0.554948,0.434015,0.469134,0.036153,0.921465,0.082423,0.443472
370053,rs9839873,0.928399,0.698739,0.931811,0.922432,0.929097,0.930540,0.933013,0.676792,0.899661,...,0.896218,0.937986,0.900660,0.934865,0.959727,0.909553,0.967845,0.947637,0.840110,0.944437

##selecting relevant CPG islands

In [ ]:
identifiers = list(df.iloc[:, 0])

In [ ]:
relevant = [identifiers[2],identifiers[5],identifiers[6]]

In [ ]:
relevant_identifiers = []
for i in identifiers:
  if identifiers[i] in relevant:
    relevant_identifiers.append(i)

In [ ]:
df1 = df.loc[relevant_identifiers,:]

In [ ]:
p_ids_x = list(df.columns[1:])
p_ids_y = list(labels.iloc[:,0])
p_ids = []
for i in p_ids_x:
  if i in p_ids_y:
    p_ids.append(i)

In [ ]:
#Swap rows and columns (identifiers * samples to samples * identifiers)
df1 = df1.T
#Set First Row as Header
df1.columns = df1.iloc[0]
#Remove first row from DataFrame
df1 = df1.iloc[1:]

In [ ]:
'a' in ['a','b','v']

True